<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="galeri/hewan">HEWAN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="galeri/kendaraan">KENDARAAN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="galeri/buah">BUAH</a>
  </li>
</ul>